<ul class="vertical menu">
    <li><a class="button expanded loader" href="/" data-close><i class="fas fa-home"></i>&nbsp;Home</a></li>
    <li><a class="button expanded loader" href="/sign-up" data-close><i class="fas fa-user-edit"></i>&nbsp;Sign-Up</a></li>
    <li><a class="button expanded loader" href="/log-in"><i class="fas fa-unlock-alt"></i>&nbsp;Log In</a></li>
    <li><a class="button expanded loader" href="/about-us"><i class="fas fa-info-circle"></i>&nbsp;About</a></li>
    <li><a class="button expanded loader" href="/contact-us"><i class="fas fa-mobile-alt"></i>&nbsp;Contact Us</a></li>
    <li><a class="button expanded loader" href="/help"><i class="fas fa-question-circle"></i>&nbsp;Help</a></li>
    <li><a class="button expanded loader" href="/test"><i class="fas fa-question-circle"></i>&nbsp;Test</a></li>
  </ul>
