{% extends "base.twig" %}

{% block body %}
<div class="row title">
    <div class="columns small-12">
        <div class="callout alert">
            <h5>Error:</h5>
            <p>Messege here....</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block javascripts_footer %}

{% endblock %}
