{% extends "base.twig" %}

{% block body %}
<div class="row title">
    <div class="columns small-12">
        <h5>&nbsp;</h5>
    </div>
</div>

<div class="row title">
    <div class="columns small-12 text-center">
        <img class="thumbnail" src="{{ return.image }}">
    </div>
</div>



{% endblock %}

{% block javascripts %}

{% endblock %}

{% block javascripts_footer %}

{% endblock %}
