{% extends "base.twig" %}

{% block body %}
<div class="row title">
    <div class="columns small-12">
        <h1>Verify</h1>
    </div>
</div>


<div class="row title">
    <div class="columns small-12 text-center">
        <a class="button" href="/log-in"> Log In </a>
    </div>
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block javascripts_footer %}

{% endblock %}
